* {
  margin: 0;
  padding: 0;
}

#nprogress .bar {
  height: 4px !important;
}

.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.daddu {
  color: blue;
}
